[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "antigen"]
	path = vendor/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "vendor/powerline-fonts"]
	path = vendor/powerline-fonts
	url = https://github.com/powerline/fonts
