<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>children</key>
	<array>
		<dict>
			<key>fileURL</key>
			<string>file:///Users/Lee/Projects/Arduino/</string>
			<key>lastOpenedDate</key>
			<real>0.0</real>
			<key>name</key>
			<string>Arduino</string>
			<key>type</key>
			<integer>2</integer>
			<key>valid</key>
			<false/>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/Philo243Web/wwwroot/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>Philo243Web</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/somerset-app/pure-rails/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>Somerset Songs</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>name</key>
			<string>Clients</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fileURL</key>
			<string>file:///Users/clarkgar/dotfiles/</string>
			<key>lastOpenedDate</key>
			<real>1481307368.9563289</real>
			<key>name</key>
			<string>dotfiles</string>
			<key>type</key>
			<integer>2</integer>
			<key>valid</key>
			<true/>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/pyserial/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>pyserial</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/esptool/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>esptool</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/fw1/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>fw1</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/feeling-responsive/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>feeling-responsive</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/.zprezto/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>.zprezto</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/antigen/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>antigen</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/awesome-terminal-fonts/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>awesome-terminal-fonts</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/mathiasbynens-dotfiles/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>mathiasbynens-dotfiles</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>name</key>
			<string>Github Forks</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>children</key>
			<array/>
			<key>expanded</key>
			<false/>
			<key>name</key>
			<string>Legacy</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/foundation-libsass-template/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>foundation-libsass-template</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>name</key>
			<string>Other</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fileURL</key>
			<string>file:///Users/Lee/Projects/PiFace/</string>
			<key>lastOpenedDate</key>
			<real>0.0</real>
			<key>name</key>
			<string>PiFace</string>
			<key>type</key>
			<integer>2</integer>
			<key>valid</key>
			<false/>
		</dict>
		<dict>
			<key>fileURL</key>
			<string>file:///Users/Lee/Projects/profec.github.io/</string>
			<key>lastOpenedDate</key>
			<real>0.0</real>
			<key>name</key>
			<string>profec.github.io</string>
			<key>type</key>
			<integer>2</integer>
			<key>valid</key>
			<false/>
		</dict>
		<dict>
			<key>fileURL</key>
			<string>file:///Users/Lee/Projects/profec.net/</string>
			<key>lastOpenedDate</key>
			<real>0.0</real>
			<key>name</key>
			<string>profec.net</string>
			<key>type</key>
			<integer>2</integer>
			<key>valid</key>
			<false/>
		</dict>
		<dict>
			<key>fileURL</key>
			<string>file:///Volumes/Storage/Projects/quiz-assistant/</string>
			<key>lastOpenedDate</key>
			<real>1485889384.912394</real>
			<key>name</key>
			<string>quiz-assistant</string>
			<key>type</key>
			<integer>2</integer>
			<key>valid</key>
			<true/>
		</dict>
		<dict>
			<key>fileURL</key>
			<string>file:///Users/Lee/Projects/s3cmd/</string>
			<key>lastOpenedDate</key>
			<real>0.0</real>
			<key>name</key>
			<string>s3cmd</string>
			<key>type</key>
			<integer>2</integer>
			<key>valid</key>
			<false/>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/git-tower/commonspot-gateway-2014/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>commonspot-gateway-2014</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/git-tower/cs-gateway/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>cs-gateway</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Volumes/Storage/Projects/cs-log-viewer/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>cs-log-viewer</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<true/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Volumes/Storage/Projects/nj-makerday-2016/</string>
					<key>lastOpenedDate</key>
					<real>1481307209.0003371</real>
					<key>name</key>
					<string>nj-makerday-2016</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<true/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Volumes/Storage/Projects/nj-makerday-2016-docs/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>nj-makerday-2016-docs</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<true/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Volumes/Storage/Projects/shu-apps/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>shu-apps</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Users/Lee/Projects/shu-commonspot-wsou/</string>
					<key>lastOpenedDate</key>
					<real>0.0</real>
					<key>name</key>
					<string>shu-commonspot-wsou</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<false/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Volumes/Storage/Projects/shu-documentation/</string>
					<key>lastOpenedDate</key>
					<real>1485787911.8897729</real>
					<key>name</key>
					<string>shu-documentation</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<true/>
				</dict>
				<dict>
					<key>fileURL</key>
					<string>file:///Volumes/Storage/Projects/static-templates/</string>
					<key>lastOpenedDate</key>
					<real>1480537874.443727</real>
					<key>name</key>
					<string>static-templates</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<true/>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>fileURL</key>
							<string>file:///Volumes/Storage/Projects/tlt/master/</string>
							<key>lastOpenedDate</key>
							<real>1481823801.639107</real>
							<key>name</key>
							<string>master</string>
							<key>type</key>
							<integer>2</integer>
							<key>valid</key>
							<true/>
						</dict>
						<dict>
							<key>fileURL</key>
							<string>file:///Volumes/Storage/Projects/tlt/globals/</string>
							<key>lastOpenedDate</key>
							<real>1481823797.954113</real>
							<key>name</key>
							<string>globals</string>
							<key>type</key>
							<integer>2</integer>
							<key>valid</key>
							<true/>
						</dict>
						<dict>
							<key>fileURL</key>
							<string>file:///Volumes/Storage/Projects/tlt/laptops/</string>
							<key>lastOpenedDate</key>
							<real>1481727702.773186</real>
							<key>name</key>
							<string>laptops</string>
							<key>type</key>
							<integer>2</integer>
							<key>valid</key>
							<true/>
						</dict>
					</array>
					<key>expanded</key>
					<false/>
					<key>name</key>
					<string>TLT</string>
					<key>type</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>expanded</key>
			<false/>
			<key>name</key>
			<string>Seton Hall</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fileURL</key>
			<string>file:///Users/Lee/Projects/WebIOPi/</string>
			<key>lastOpenedDate</key>
			<real>0.0</real>
			<key>name</key>
			<string>WebIOPi</string>
			<key>type</key>
			<integer>2</integer>
			<key>valid</key>
			<false/>
		</dict>
	</array>
	<key>expanded</key>
	<true/>
	<key>name</key>
	<string>Repositories</string>
	<key>type</key>
	<integer>3</integer>
</dict>
</plist>
