<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>children</key>
	<array>
		<dict>
			<key>fileReferenceURL</key>
			<string>file:///.file/id=6571367.258167251/</string>
			<key>fileURL</key>
			<string>file:///Users/Lee/Sites/dotfiles/</string>
			<key>lastOpenedDate</key>
			<real>0.0</real>
			<key>name</key>
			<string>dotfiles</string>
			<key>type</key>
			<integer>2</integer>
			<key>valid</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>fileReferenceURL</key>
			<string>file:///.file/id=6571367.243332693/</string>
			<key>fileURL</key>
			<string>file:///Users/Lee/Sites/profec.github.io/</string>
			<key>lastOpenedDate</key>
			<real>1445306486.969681</real>
			<key>name</key>
			<string>profec.github.io</string>
			<key>type</key>
			<integer>2</integer>
			<key>valid</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fileReferenceURL</key>
					<string>file:///.file/id=6571367.257875028/</string>
					<key>fileURL</key>
					<string>file:///Users/Lee/Sites/shu-commonspot-wsou/</string>
					<key>lastOpenedDate</key>
					<real>1445402114.1875429</real>
					<key>name</key>
					<string>cs-wsou</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>fileReferenceURL</key>
					<string>file:///.file/id=6571367.257600635/</string>
					<key>fileURL</key>
					<string>file:///Users/Lee/Sites/git-tower/commonspot-gateway-2014/</string>
					<key>lastOpenedDate</key>
					<real>1445730559.647176</real>
					<key>name</key>
					<string>commonspot-gateway-2014</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>fileReferenceURL</key>
					<string>file:///.file/id=6571367.227330130/</string>
					<key>fileURL</key>
					<string>file:///Users/Lee/Documents/shu-documentation/</string>
					<key>lastOpenedDate</key>
					<real>1445030844.961189</real>
					<key>name</key>
					<string>shu-documentation</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>fileReferenceURL</key>
					<string>file:///.file/id=6571367.255994519/</string>
					<key>fileURL</key>
					<string>file:///Users/Lee/Sites/git-tower/cs-gateway/</string>
					<key>lastOpenedDate</key>
					<real>1445463494.71945</real>
					<key>name</key>
					<string>cs-gateway</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>expanded</key>
			<integer>1</integer>
			<key>name</key>
			<string>Seton Hall</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fileReferenceURL</key>
					<string>file:///.file/id=6571367.98974316/</string>
					<key>fileURL</key>
					<string>file:///Users/Lee/Sites/SIites-galleries.profec.net/</string>
					<key>lastOpenedDate</key>
					<real>1444607264.700995</real>
					<key>name</key>
					<string>SIites-galleries.profec.net</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>fileReferenceURL</key>
					<string>file:///.file/id=6571367.155329170/</string>
					<key>fileURL</key>
					<string>file:///Users/Lee/Sites/aperture-web-export/</string>
					<key>lastOpenedDate</key>
					<real>1445030668.520947</real>
					<key>name</key>
					<string>aperture-web-export</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>expanded</key>
			<integer>1</integer>
			<key>name</key>
			<string>Legacy</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fileReferenceURL</key>
					<string>file:///.file/id=6571367.237591594/</string>
					<key>fileURL</key>
					<string>file:///Users/Lee/Sites/somerset-app/pure-rails/</string>
					<key>lastOpenedDate</key>
					<real>1445302234.2410691</real>
					<key>name</key>
					<string>Somerset Songs</string>
					<key>type</key>
					<integer>2</integer>
					<key>valid</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>expanded</key>
			<integer>1</integer>
			<key>name</key>
			<string>Clients</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>children</key>
			<array/>
			<key>expanded</key>
			<integer>1</integer>
			<key>name</key>
			<string>Other</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>expanded</key>
	<integer>1</integer>
	<key>name</key>
	<string>Repositories</string>
	<key>type</key>
	<integer>3</integer>
</dict>
</plist>
