<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accountName</key>
		<string></string>
		<key>aliasName</key>
		<string>ProfeC</string>
		<key>authenticationMethod</key>
		<integer>2</integer>
		<key>avatarURL</key>
		<string>https://avatars.githubusercontent.com/u/1054712</string>
		<key>email</key>
		<string></string>
		<key>isOrganization</key>
		<false/>
		<key>service</key>
		<string>GitHub</string>
		<key>username</key>
		<string>ProfeC</string>
	</dict>
	<dict>
		<key>accountName</key>
		<string>shu-web-development</string>
		<key>aliasName</key>
		<string>clarkgar</string>
		<key>authenticationMethod</key>
		<integer>1</integer>
		<key>avatarURL</key>
		<string></string>
		<key>email</key>
		<string>gary.clark@shu.edu</string>
		<key>isOrganization</key>
		<false/>
		<key>service</key>
		<string>Beanstalk</string>
		<key>username</key>
		<string>clarkgar</string>
	</dict>
</array>
</plist>
